@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Lunasima&family=Merriweather&family=Open+Sans:wght@300;500&family=Playfair+Display:ital@0;1&family=Roboto+Slab&family=Satisfy&family=Ubuntu+Condensed&display=swap');

* {
    margin: 0;
}

header {
    width: 100%;
    height: 70px;
    background-color: rgb(29, 31, 57);
    position: fixed;
    z-index: 1;
}

#nav1 {
    float: left;
}

#nav1>img {
    width: 70px;
    height: 60px;
    padding-left: 20px;
    padding-top: 5px;
}

#nav2 {
    float: right;
}

.home-nav {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    color: white;
    font-size: 20px;
}

.home-nav>li {
    padding-right: 30px;
    padding-top: 20px;
    font-family: 'Kanit', sans-serif;
    font-family: 'Lunasima', sans-serif;
    font-family: 'Merriweather', serif !important;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Satisfy', cursive;
    font-family: 'Ubuntu Condensed', sans-serif;
}




.slideShowImage img {
    width: 90%;
    height: 300px;
    margin-top: 100px;
    margin-left: 70px;
    display: flex;

}
.propertyNameRow{
    margin-top: 10px;
    margin-left: 70px ;

}
.propertyNameRow h1{
    font-size: 28px;
}
.propertyContainer h3{
    margin-left: 70px;
    font-size: 20px;
}
#information{
    display: flex;
    margin-top: 2.5rem;
    margin-bottom: 1.125rem;
    margin-left: 70px;
    background-color: white;
    /* border: 1px solid #cacaca ; */
    /* border-radius: 5px; */
    width: 90%;
    height: 83px;
}
#information .row{
    display: flex;
    flex-direction: row;
    width: 100%;
    
}
#information .infoContainer{
    width: 100%;
}
#information .info{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 0;
    padding: 1.25 rem 0;
    width: 100%;
} 
#information .coloum{
    display: flex;
    justify-content: center;
    margin: 0;
    flex: 1 1 auto;
}
#information .info .infoInnerContainer{
    text-align: left;
    margin: 0 auto;
}
#information .infoInnerContainer .priceLable{
    font-size: 1rem;
}
#information .infoInnerContainer .priceDetail{
    font-size: 1 rem;
}
li.coloumn::after{
    box-sizing: inherit;
}
 #information .coloum:not(:last-child)::after{
    border-right: 1px solid #cacaca;
    content: "";
} 


footer {
    width: 100%;
    height: 80px;
    margin-top: 75vh;
    background-color: rgb(29, 31, 57);
    z-index: 3;
    position: absolute;
  }
  
  .copy {
    float: left;
    justify-content: center;
    margin-top: 30px;
    margin-left: 30px;
    color: white;
  }
  
  .contacticon {
    display: flex;
    float: right;
    justify-content: center;
    margin-top: 20px;
    margin-right: 30px;
  }
  
  .contacticon>img {
    padding: 5px;
    height: 30px;
    width: 30px;
  }
  
  #nav2>ul>li:hover {
    color: rgba(255, 0, 0, 0.373);
    font-size: 110%;
    cursor: pointer;
  }
