* {
  margin: 0;
}
header {
  width: 100%;
  height: 70px;
  background-color: rgb(29, 31, 57);
  position: fixed;
  z-index: 1;
}
#nav1 {
  float: left;
}
#nav1 > img {
  width: 80px;
  height: 60px;
  padding-left: 20px;
  padding-top: 5px;
}
#nav2 {
  float: right;
}
.home-nav {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 10px;
  color: white;
  font-size: 20px;
}
.home-nav > li {
  padding-right: 30px;
  padding-top: 20px;
}

.container>img {
margin-top: 50px;
  /* height: 10%; */
  width: 100%;
  /* opacity: 90%; */
  /* object-fit: cover; */
}

.container{
  text-align: center; 

}
.dream{
    position:absolute;
    top: 90%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: black;
    opacity: 100%;
    text-align: left;
    background-color: rgba(227, 203, 176, 0.829);
    height: 350px;
    width: 350px;
   
}
.centered {
  /* opacity: 100%; */
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 35px;
} 
.para2{
    font-size: 18px;
    padding-left: 20px;
    padding-top: 10px;
}
.container2{
    margin-top: -5px;
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    z-index: -1;
}
.container2>h2{
    position: absolute;
    /* text-align: center; */
    justify-content: center;
    
    top: 20%;
    left: 39%;
    font-size: 30px;
}
.options{
    display: flex;
    /* position: relative; */
    margin-top: 30vh;
    padding: 20px;
    /* margin-left: 8vw; */
    justify-content: center;
    
}
.left-home>img{
    /* margin: 50%; */
    height: 60vh;
    width: 40vw;
    /* z-index: -1; */
    /* opacity: 75%; */
}
.right-home>img{
    /* right: 30%; */
    height: 60vh;
    width: 40vw;
    /* opacity: 75%; */
}
.selection{
    display: flex;
    margin-top: 30vh;
    padding: 20px;
    justify-content: center;
    position: absolute;
}

.centered1 {
    top: 62vh;
    left: 28vw;
    font-size: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    color: #f2f2f2;
    justify-content: center;
    z-index: 3;

  }

.centered2{
    top: 62vh;
    left: 70vw;
    font-size: 50px;
    transform: translate(-50%, -50%); 
    color: #f2f2f2;
    position: absolute;
    z-index: 3;
}
.temp{
    background-color: rgba(255, 0, 0, 0.553);
    height: 60vh;
    position: absolute;
    width: 40vw;
    z-index: 2;
}
.temp1{
    background-color: rgba(16, 37, 197, 0.51);
    height: 60vh;
    position: absolute;
    width: 40vw;
    z-index: 2;
}
a{
    text-decoration: none;
    color: white;
}

.centered1>a:hover{
    color: pink;
}

.centered2>a:hover{
    color: green;
}